<!-- Gorny pasek z dostepem do menu aplikacji -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-nav-btn" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Edycja sali' : 'Tworzenie sali' }}</ion-title>
    <ion-buttons slot="end" class="app-header-user-actions">
      <ion-button fill="clear" (click)="navigateToList()">Lista sal</ion-button>
      <ion-button fill="clear" (click)="navigateToDictionaries()">Slowniki sal</ion-button>
      <ion-chip color="medium" outline>
        <ion-label>{{ userRoleLabel }}</ion-label>
      </ion-chip>
      <ion-avatar class="ion-margin-start app-user-avatar" role="button" tabindex="0" (click)="toggleProfileMenu($event)">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>

      <ion-popover [isOpen]="isProfileMenuOpen" [event]="profileMenuEvent" [dismissOnSelect]="true" side="bottom"
        alignment="end" (didDismiss)="closeProfileMenu()">
        <ng-template>
          <ion-list lines="none">
            <ion-item button detail="false" (click)="openSettings()">Ustawienia</ion-item>
            <ion-item button detail="false" class="logout-item" (click)="logout()">Wyloguj</ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding room-form-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ isEditMode ? 'Edycja sali' : 'Nowa sala' }}</ion-card-title>
      <ion-card-subtitle>
        {{ isEditMode ? 'Zmien dane i zapisz aktualizacje.' : 'Uzupelnij formularz, aby dodac sale.' }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>

      <!-- Glowny formularz sali z walidacja template-driven -->
      <form #roomForm="ngForm" (ngSubmit)="onSubmit(roomForm)" *ngIf="!isLoading">
        <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked">Numer sali</ion-label>
            <ion-input
              name="roomNumber"
              [(ngModel)]="roomNumber"
              required
              placeholder="Np. A-205"
              clearInput="true">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Ilosc miejsc</ion-label>
            <ion-input
              name="seatsCount"
              type="number"
              min="1"
              [(ngModel)]="seatsCount"
              required
              placeholder="Np. 30">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Typ sali</ion-label>
            <ion-select
              name="roomTypeId"
              interface="popover"
              [(ngModel)]="roomTypeId"
              required>
              <ion-select-option *ngFor="let type of roomTypeOptions" [value]="type.id">
                {{ type.name }} ({{ type.abbreviation }})
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Wydzialy</ion-label>
            <ion-select
              name="departmentIds"
              interface="alert"
              [multiple]="true"
              [(ngModel)]="selectedDepartmentIds"
              required>
              <ion-select-option *ngFor="let department of departmentOptions" [value]="department.id">
                {{ department.name }} ({{ department.abbreviation }})
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <div class="section-block">
          <h3>Aktywnosci realizowane w sali</h3>
          <p>Wybierz aktywnosci powiazane z sala.</p>

          <ion-item>
            <ion-label position="stacked">Aktywnosci</ion-label>
            <ion-select
              name="activityIds"
              interface="alert"
              [multiple]="true"
              [(ngModel)]="selectedActivityIds"
              required>
              <ion-select-option *ngFor="let activity of activityOptions" [value]="activity.id">
                {{ activity.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <ion-item>
          <ion-label position="stacked">Wyposazenie specjalne</ion-label>
          <ion-select
            name="specialEquipmentIds"
            interface="alert"
            [multiple]="true"
            [(ngModel)]="selectedSpecialEquipmentIds">
            <ion-select-option *ngFor="let equipment of specialEquipmentOptions" [value]="equipment.id">
              {{ equipment.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Akcje: wyslanie i reset formularza -->
        <div class="form-actions">
          <ion-button type="submit" color="primary" [disabled]="isSaving">
            {{ isEditMode ? 'Zapisz zmiany' : 'Dodaj sale' }}
          </ion-button>
          <ion-button type="button" fill="outline" color="medium" (click)="resetForm(roomForm)">
            Wyczysc formularz
          </ion-button>
        </div>
      </form>

      <ion-note color="danger" *ngIf="errorMessage" class="submit-message">
        {{ errorMessage }}
      </ion-note>

      <ion-note color="success" *ngIf="submitMessage" class="submit-message">
        {{ submitMessage }}
      </ion-note>
    </ion-card-content>
  </ion-card>
</ion-content>
