<ion-app>
  <div class="app-shell">
    
    <div class="sidebar" [style.width.px]="sidebarWidth()">
      <ion-content class="ion-padding no-scroll">
        
        <div class="sidebar-inner" [class.hidden]="sidebarWidth() < 160">
          <ion-button expand="block" shape="round" color="light" class="create-btn ion-margin-bottom">
            <ion-icon slot="start" name="add-outline"></ion-icon>
            <span class="ion-padding-start"></span>
          </ion-button>

          <ion-datetime 
            presentation="date" 
            size="cover" 
            class="mini-calendar"
            [value]="selectedDate.toISOString()"
            (ionChange)="onDateSelect($event)">
          </ion-datetime>
        </div>
        <div class="collapsed-view" *ngIf="sidebarWidth() < 160">
           <ion-icon name="menu-outline" class="big-menu-icon"></ion-icon>
        </div>
      </ion-content>

      <div class="resizer" (mousedown)="startResizing($event)"></div>
    </div>

    <div class="main-content">
      <ion-header class="ion-no-border">
        <ion-toolbar mode="md">
          <ion-buttons slot="start">
            <ion-button fill="outline" class="today-btn ion-margin-start" (click)="goToToday()">Dzisiaj</ion-button>
            <ion-button fill="clear" (click)="prevWeek()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
            <ion-button fill="clear" (click)="nextWeek()"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
            <ion-title class="calendar-title">{{ currentMonthName }} {{ currentYear }}</ion-title>
          </ion-buttons>

          <ion-buttons slot="end">
            <ion-button fill="outline" color="primary" (click)="exportRaply()">Export Raply</ion-button>
            <ion-button fill="solid" color="primary" (click)="importRaply()">Import</ion-button>
            <ion-avatar
              class="ion-margin-start user-avatar"
              role="button"
              tabindex="0"
              (click)="toggleProfileMenu($event)">
              <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Profil użytkownika" />
            </ion-avatar>

            <ion-popover
              [isOpen]="isProfileMenuOpen"
              [event]="profileMenuEvent"
              side="bottom"
              alignment="end"
              (didDismiss)="closeProfileMenu()">
              <ng-template>
                <ion-list lines="none">
                  <ion-item button detail="false" (click)="openProfile()">Profil</ion-item>
                  <ion-item button detail="false" color="danger" (click)="logout()">Wyloguj</ion-item>
                </ion-list>
              </ng-template>
            </ion-popover>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="calendar-scroll">
        <div class="google-calendar-grid">
          
          <div class="grid-header">
            <div class="time-spacer"></div>
            <div class="day-col-header" *ngFor="let day of weekDays">
              <span class="day-name">{{ day.name }}</span>
              <span class="day-num" [class.is-today]="day.isToday">{{ day.date }}</span>
            </div>
          </div>

          <div class="grid-body">
            <div class="hour-row" *ngFor="let hour of hours24">
              <div class="hour-label">{{ hour }}:00</div>
              <div class="day-cell" *ngFor="let day of weekDays">
                
                <div class="event standard" *ngIf="hour === 11 && day.name === 'WT'">
                   <b>Algorytmy</b><br><small>S. 201 | Dr Storm</small>
                </div>

                <div class="event version-new" *ngIf="hour === 10 && day.name === 'PN'">
                   <ion-badge color="success" mode="ios">NOWE</ion-badge><br>
                   <b>Programowanie</b><br><small>S. 102 | Nowak</small>
                </div>

                <div class="event version-conflict" *ngIf="hour === 14 && day.name === 'ŚR'">
                   <b>KONFLIKT SALI</b><br><small>Sala 201 zajęta</small>
                </div>

              </div>
            </div>
          </div>

        </div>
      </ion-content>
    </div>

  </div>
</ion-app>